.blog {
    width: 100%;
    height: auto;
    margin: 100px 0px;
    padding: 0px 200px;
  }
  
  .blog>h2 {
    font-size: 40px;
    font-weight: 700;
    display: flex;
    justify-content: center;
  }
  
  .blog>.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  
    margin-top: 70px;
  }
  
  .blog>.container>.col {
    width: 600px;
    height: 430px;
    padding: 20px 30px;
    margin-top: auto;
    margin-bottom: 10px;
  }
  
  .blog>.container>.col>.img {
    width: 100%;
    height: 250px;
    overflow: hidden;
  }
  
  .blog>.container>.col>.img>img {
    width: 100%;
    height: 100%;
  }
  
  
  .blog>.container>.col>.content>h3 {
    margin-top: 10px;
    font-size: 35px;
    font-weight: 700;
  }
  
  .blog>.container>.col>.content>p {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .blog>.container>.col>.content>.link>a {
    color: orange;
    font-size: 25px;
  }

