@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

.blog {
    width: 100%;
    height: auto;
    margin: 100px 0px;
    padding: 0px 200px;
  }
  
  .blog>h2 {
    font-size: 40px;
    font-weight: 700;
    display: flex;
    justify-content: center;
  }
  
  .blog>.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
  }
  
  .blog>.container>.col {
    width: 600px;
    height: 550px;
    margin: 20px;
    border: 2px solid transparent;
  }
  
  .blog>.container>.col>.img {
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 7px;
  }
  
  .blog>.container>.col>.img>img {
    width: 100%;
    height: 100%;
  }
  
  
  .blog>.container>.col>.content>h3 {
    height: 60px;
    margin-top: 30px;
    font-size: 25px;
    font-weight: 600;
    font-family: Roboto;
  }

  
  .blog>.container>.col>.content>p {
    height: 95px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .blog>.container>.col>.content>.link>a {
    color: orange;
    font-size: 22px;
  }

  .blog>.container>.col>.content>.link>a:hover {
    color: #000;
    font-weight: 600;
    transition: ease-in;
    transition-duration: 0.30s;
  }

      /* Gallery Section*/
      .deal {
        width: 100%;
        height: auto;
        padding: 40px 50px;
      }
      
      .deal>.container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
      }
      .deal>.galls{
        font-size: 55px;
        font-weight: 700;
        padding: 40px 0px;
        display: flex;
        justify-content: center;
      }
  
      .deal>.quotes{
        display: flex;
        justify-content: center;
      }
      .deal>.container>.col {
        width: 575px;
        height: 520px;
        overflow: hidden;
        position: relative;
        box-shadow: 0px 0px 2px black;
        margin: 10px;
        border-radius: 5px;
      }
      
      .deal>.container>.col>img {
        width: 100%;
        height: 100%;
      }
  